body{
  background-color: #EDC7B7;
}
.name{
 
  background-color: #AC3B61 ;
  border-width: 2px;
  border-color: red;
  border-style:solid;
  margin:0px;
}

.column{
  width: 300px;
  float: left;
  height:200px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}

img{
 
  /*box-sizing: border-box;*/
  border: 1px solid blue;
  width: 100px;
  height: 80px;
  float: left;
}
.myBackground{
  float:left;
}

.interest{
  float:left;
  padding: 5px solid red;
  border:5px solid blue;
  margin: 5px solid green;
}
.grid{
  display:inline-grid;
}

ol{
  list-style: none;
}
.lanuageused
{
  display:inline;
  padding:0px;
}
h3
{
  font-family: cursive;
  font-style: initial;
  font-size: xx-large;
  color: #AC3B61;
}