body{
  background-color: rgb(231, 231, 231);
  margin:0px;
  font-family: 'Roboto', sans-serif;
}
.container
{
  width: 60%;
  margin: auto;
  background: #fff;
  padding: 0 30px;
}
.name{
 
/* background-color: #AC3B61 ;*/
  margin:0px;
  padding: 30px 0px;
}
.name > span {
  font-size: 16px;
  color: #6e6868;
}

.column{
  width: 300px;
  float: left;
  height:200px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}

img{
 
  /*box-sizing: border-box;
  border: 1px solid blue;*/
  width: 100px;
  height: 80px;
  float: left;
}
.myBackground{
  float:left;
}

.interest{
  float:left;
  padding: 5px solid red;
 /* border:5px solid blue;*/
  margin: 5px solid green;
}
.grid{
  display:inline-grid;
}

ol{
  list-style: none;
}
.lanuageused
{
  display:inline;
  padding:0px;
}
h3
{
 
}

h1{
  margin:0px
}